/ffmpeg/
/venv/
/whisper/
/target.mp4
/target.srt
/target2.srt
/.idea/
3EXJEtGqvU4.srt
3EXJEtGqvU4.mp3
server.py
target.mp3
yE1CutI5vYk.m4a
yE1CutI5vYk.srt
__pycache__/auto_subtitle.cpython-311.pyc
result/